<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css"  href='../inquiry/css/base.css' />
    <link rel='stylesheet' type="text/css" href='../inquiry/css/boilerplate.css' />
    <link rel='stylesheet' type="text/css" href='../activePage/css/active.css' />
</head>
<body>
    <section class="main">
        <section class="active_head">
            <p class="active_bank_title"></p>
            <h1>
                <p class=" deepGreen">718金融控股股东布局村镇银行发展金融新业态</p>
            </h1>
            <h2><span>发布时间:</span><time>2016/09/01 14:31:26</time><span>来源：</span><span>718金融</span><span>作者：</span><span>718金融</span></h2>
        </section>
        <article class="active_bank_article">
            <p>8月18日，廊坊融商村镇银行正式开业，这将为廊坊开发区经济的健康快速发展注入新的活力。中国人民银行廊坊市中心支行、廊坊银监分局、廊坊经济技术开发区管理委员会、河北沧州农村商业银行、廊坊开发区融商村镇银行股份有限公司以及718金融等公司相关领导出席了开业庆典活动。</p>
            <p class="active_bank_img">
                <img src="../activePage/images/bank_01.jpg" />
                <span>廊坊融商村镇银行开业庆典活动现场</span>
            </p>
            <p>廊坊融商村镇银行是经中国人民银行和中国银行业监督管理委员会批准筹建，由河北沧州农村商业银行股份有限公司发起，联合行业龙头企业（与718金融同一控股股东）共同成立的股份制商业银行。廊坊融商村镇银行将致力于建设国内一流的村镇银行为目标，以服务村镇与社区，支持小微、“三农”企业发展为宗旨，以专业、创新、高效、多元的服务为优势，全力支持地方经济发展的新型金融机构。相对国有大型商业银行，廊坊融商村镇银行作为区域一级法人机构，能够更高效便捷的服务社区、小微企业客户以及区域经济发展，成为健全廊坊金融市场的重要组成部分。<p>
            <p class="active_bank_img">
                <img src="../activePage/images/bank_02.jpg" />
                <span>廊坊开发区融商村镇银行股份有限公司，魏国成董事长致辞</span>
            </p>
            <p>廊坊融商村镇银行董事长魏国成在开业庆典致辞中表示，廊坊融商村镇银行的成立后，将秉承“务实、创新、高效、廉洁”的企业精神，坚持扎根社区，服务小微的市场定位，始终以支持“三农”、致力小微、服务大众作为出发点和落脚点，在服务地方经济建设，主推城乡发展方面创造出特色，在扶助企业发展的同时，更是让企业充满活力。</p>
            <p class="active_bank_img">
                <img src="../activePage/images/bank_03.jpg" />
                <span>廊坊融商村镇银行大堂</span>
            </p>
            <p>与廊坊融商村镇银行“同出名门”的718金融，是基于绿色金融、共享经济的互联网资产管理生态平台。专注于绿色清洁能源产业全套金融解决方案，倡导绿色参与感、并因此受益的绿色理念，为用户提供安全、灵活、稳健的投资收益产品。业务遍布北京、上海、深圳、天津、河北石家庄、廊坊等地。718金融根植于新毅控股，旗下布局村镇银行、股权基金、证券基金、创投基金、资产管理、融资租赁、互联网金融等业务领域。</p>
            <p>随着经济的发展和物质生活水平的提高，全社会对环保重视程度显著提高，进而带来了很多市场机会。从企业角度看，清洁能源及技术行业受到政府的大力支持，早期依靠政府补贴基本能存活，融资需求小，而在中后期想进一步发展壮大，需要资金、渠道等多方面支持，同时在这一发展阶段企业已具备较为完善的财报或固定资产等资源，较易获得投资者青睐。</p>
            <p>而718金融互联网金融平台业务正是来自于清洁能源、节能环保领域的优质资产，新能源汽车消费借款、京津冀房产消费借款，以及来自于交易伙伴为国企、央企、上市公司的优质资产，以强大的企业实力和专业的风控体系保障投资、理财类金融产品的投资灵活、收益安全、风险可控、信息透明，让客户的小钱变大钱，死钱变活钱，以较小的投资获得更大的回报。</p>
            <p class="active_bank_img">
                <img src="../activePage/images/bank_04.jpg" />
                <span>718金融董事长宋笑宇（正面左一）与各领导方桌会谈</span>
            </p>
            <p>718金融董事长宋笑宇，在庆典后的座谈会上表示，开设村镇银行业务，加强村镇银行与互联网金融业务合作,既与支持小微企业的政策导向相符,解决小微企业融资难题,又可解决其揽储问题;对互联网金融平台而言,有了银行担保背书增信,一方面提高了平台的吸引力,另一方面也降低系统性风险;对投资人而言,也多了一个较稳健便捷的投资渠道。”</p>
            <p>同时，董事长宋笑宇也表示，作为国家支持三农、中小企业发展而扶持的村镇银行,受网点、人员等方面限制,吸储非常困难。手上握有大量的基层优质项目,却不能一一满足,已成为村镇银行面临的共同难题。按照以往经验,村镇银行唯有将优质项目打包卖给资金充裕的国有大行,而现在或许可以探索与互联网金融平台合作的可能性。</p>
            <p class="active_bank_img">
                <img src="../activePage/images/bank_05.jpg" />
                <span>廊坊融商村镇银行工作人员合影</span>
            </p>
            <p>此次廊坊融商村镇银行正式开业,能够进一步拓宽小微企业融资渠道,为当地“三农、小微企业、个体工商户和社区居民”提供全方位金融服务，也是廊坊区域金融业蓬勃发展的一个新起点、新跨跃，更是718金融能够进一步拓宽小微企业融资渠道,加快小微企业发展,实现服务三农和普惠金融的目标。</p>

        </article>
        <div class="active_bank_foot"></div>
    </section>
    <script  src="../inquiry/script/common/flexible.js"></script>
</body>