<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title><%= title %></title>
    <link href="../activePage/css/default.css" type="text/css" rel="stylesheet">
    <link href="../activePage/css/ProductDetail.css" type="text/css" rel="stylesheet">
</head>
<body>
<div>
    <div class="header">
        <img src="../activePage/images/headerImage.jpg" id="headerImage">
    </div>
    <div class="main">
        <div class="introduceTitle mainColor">房毅贷产品介绍</div>
        <div class="introduceContent contentColor">
                <span>产品特色:<br>
                    贷款金额:原则上1000万元<br>
                    贷款期限:1-12个月<br>
                    还款方式:先息后本<br>
                    贷款品种:一抵和二抵<br>
                    贷款利率:0.67%-0.9%/月,账户管理费另计<br>
                    贷款成数:市价估值的8-8.5成<br>
                    <br>
                    申请条件<br>
                    借款年龄18-65岁<br>
                    中国大陆居民，港澳台及外籍人士暂不受理<br>
                    说明事项：<br>
                    1、抵押物类型：住宅<br>
                    包括：成本价、经济适用房（须符合政策）、按经济适用房管理的回迁房。<br>
                    2、抵押受理范围：城六区、六环内及通州、大兴、房山、门头沟、昌平、顺义等核心区域。暂不受理密云、怀柔、延庆、平谷等地区。<br>
                    3、特殊抵押物成数要求：别墅（5成）<br>
                    4、征信要求：近24个月内不超过4*8，视情况弹性审查。<br>
                    5、还款方式：先息后本， 等额本息还款方式后期陆续开放。<br>
                    6、房龄要求：原则上30年内，超龄房产例外审批。<br>
                </span>
        </div>
    </div>
    <div class="footer">
        <img src="../activePage/images/footerImage.png" id="footerImage">
    </div>
</div>
    <script  src="../inquiry/script/common/flexible.js"></script>
</body>