<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title><%= title %></title>
    <link href="../activePage/css/default.css" type="text/css" rel="stylesheet">
    <link href="../activePage/css/LicenceDetail.css" type="text/css" rel="stylesheet">
</head>
<body>
<div>
    <div class="header">
        <img src="../activePage/images/licenceHeader.jpg" id="headerImage">
    </div>
    <div class="main">
        <div class="articleTitle">
            718金融正式获得由工信部审批颁发的 ICP经营许可证
        </div>
        <div class="artitleLine"></div>
        <div class="artitleSummary">
            发布时间：2016/07/27 18:05:17 来源：718金融 作者：718金融
        </div>
        <div class="articleContent">
            <span>&nbsp;&nbsp;&nbsp;热烈祝贺718金融取得由中华人民共和国工信部审批颁发的《中华人民共和国电信与信息服务业务经营许可证》，经营许可证编号：京ICP证160795号。</span>
        </div>
    </div>
    <div class="footer">
        <img src="../activePage/images/licenceFooter.jpg" id="footerImage">
    </div>
</div>
<script  src="../inquiry/script/common/flexible.js"></script>
</body>