<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>404</title>
    <link rel='stylesheet' type="text/css"  href='../inquiry/css/base.css' />
    <link rel='stylesheet' type="text/css" href='../inquiry/css/boilerplate.css' />
</head>
<body>
    <section class="main">
        <div class="notFound">
            <div class="point">

            </div>
        </div>
    </section>
    <script src="../inquiry/script/common/flexible.js"></script>
</body>