/*body {*/
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/

/*a {*/
  /*color: #00B7FF;*/
/*}*/
*{-webkit-tap-highlight-color: transparent;}
body {
  /*width: 10rem;*/
  width:100%;
  margin: 0 auto;
  padding: 0;
  color: #777777;
  background-color: #eeefef;
}
ul,li{margin: 0;padding: 0;list-style: none;}
button,input{-webkit-appearance: none;border:0;}
input[type="checkbox"]{-webkit-appearance: checkbox;border:0;width: 0.3rem;height: 0.3rem;}
a{text-decoration: none;}
.dn{display: none!important;}
.db{display: block!important;}
.btn{width: 8.2rem;height: 1.0667rem;background-color: #5ca0f9;color: #fff; border:0; display: block;margin: auto;margin-top: 2rem;}
.btn.false{background-color: #777777;color: #fff;}
.inp{margin-left: 0.5rem;width: 5rem;padding-left: 0;}
.fr{float: right;}
.fl{float:left}
.ml20{margin-left: 0.4rem;}
.mr20{margin-right: 0.4rem;}
[data-dpr="1"] .f20{font-size: 10px!important;}
[data-dpr="2"] .f20{font-size: 20px!important;}
[data-dpr="3"] .f20{font-size: 30px!important;}
@media screen and(min-width: 401px){
  [data-dpr="1"] .f20{font-size: 20px!important;}
}
[data-dpr="1"] .f22{font-size: 11px!important;}
[data-dpr="2"] .f22{font-size: 22px!important;}
[data-dpr="3"] .f22{font-size: 33px!important;}
@media screen and(min-width: 401px){
  [data-dpr="1"] .f22{font-size: 22px!important;}
}
[data-dpr="1"] .f24{font-size: 12px!important;}
[data-dpr="2"] .f24{font-size: 24px!important;}
[data-dpr="3"] .f24{font-size: 36px!important;}
@media screen and(min-width: 401px){
  [data-dpr="1"] .f24{font-size: 24px!important;}
}
[data-dpr="1"] .f28{font-size: 14px!important;}
[data-dpr="2"] .f28{font-size: 28px!important;}
[data-dpr="3"] .f28{font-size: 42px!important;}
@media screen and(min-width: 401px){
  [data-dpr="1"] .f28{font-size: 28px!important;}
}

[data-dpr="1"] .f30{font-size: 15px!important;}
[data-dpr="2"] .f30{font-size: 30px!important;}
[data-dpr="3"] .f30{font-size: 45px!important;}
@media screen and(min-width: 401px){
  [data-dpr="1"] .f30{font-size: 30px!important;}
}
[data-dpr="1"] .f36{font-size: 18px!important;}
[data-dpr="2"] .f36{font-size: 36px!important;}
[data-dpr="3"] .f36{font-size: 54px!important;}
@media screen and(min-width: 401px){
  [data-dpr="1"] .f36{font-size: 36px!important;}
}
.db{display: block!important;}
.dn{display: none!important;}
.head{height:1.17333rem;width: 100%;background-color: #5ca0f9;color: #fff;text-align: center; }
.backBtn{position: absolute; left: 0.36rem;line-height:1.17333rem; }
.headRight{position: absolute;right:1.12rem;line-height:1.17333rem;top: 0;bottom: 0;}
.headWord{line-height:1.17333rem;display: inline-block; }


a.protol:link{color:#3ba0ff ;text-decoration:none ; }
a.protol:visited { color:#3ba0ff ;text-decoration:none ;}
a.protol:hover { color:#3ba0ff ;text-decoration:none ;}
a.protol:active {text-decoration:#3ba0ff ; text-decoration:none ; }

.formUsage div.active{color: red;}
.formUsage{position: fixed;bottom: 0;background: #fff;left: 0;right: 0;text-align: center;height: 5.04rem;overflow: scroll;z-index: 999;}
.optionDiv{/*border-top: 1px solid #ccc;*/line-height: 0.64rem;}
.optionDiv:first-child{/*border-top:0;*/}
.selectVal{display: inline-block; /*color: #000;*/ color: #999; width: 5rem;height: 0.5rem;}
.selectVal.black{color: #000;}

.inpLab{width: 2rem;display: inline-block;}
[data-dpr="2"] .inpLab{width: 2.5rem;display: inline-block;}
.mask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: #000;opacity: 0.4;z-index: 998;}
.disabled{background-color: #999!important;color: #fff!important;}

/*新增*/
*{
  font-family:'Microsoft YaHei UI', 'Arial Unicode MS', Arial;}
.textLeft{text-align:left}
.textCenter{text-align:center}
.textRight{text-align:right}
/*header&footer*/
header{height:1.973rem;line-height:1.973rem;padding:0 0.6667rem;}
header h1{margin:0;background:url(../image/logo.png) left center no-repeat;font-weight:normal;font-size:0.32rem;background-size:1.24rem}
header h1 .icon{color:#5ca0f9;padding-left:1.5rem;line-height:1.973rem;font-size:0.4rem;}
header h1 span{float:right;font-size:0.32rem;color:#777;line-height:1.973rem}
footer{line-height: 0.5rem;margin-top:1.5rem;padding-top:0.234rem;font-size:0.32rem;;border-top:1px solid #e6e6e6}
.otherLink a,.contact a{color:#777;}
/*end--header&footer*/




